/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 14 avr. 2018, 18:13:45
    Author     : cl
*/
/* html, body {
    height: 100%;
} */

#heatmapDiv {
    color: white;
    position:fixed;
    margin: 0;
    padding: 0;
    z-index: 2000;
    background-color: rgba(0,0,0,0);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    display:none;
    -webkit-transition: background-color 0.8s; /* Safari */
    transition: background-color 0.8s;
}

#heatmapControl {
    position:fixed;
    z-index: 2001;
    top: 5px;
    left: 5px;
}

#heatmapDiv.on {
    background-color: rgba(0,0,0,0.6);
    display:block;
}

#heatmapDiv:before,
#heatmapDiv:after  {
    clear: both;
}

.heatmap-canvas,
.heatmap {
    width:100vw;
    height:100vh;
}





html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 58px;
    padding-bottom: 90px;
    background: #E6ECF0;
}
.navbar-brand {
    color: rgb(102, 117, 127) !important;
    /* color: #1DA1F2 !important; */
}
body > header .navbar, body > footer {
    background: #fff !important;
}
body > header .navbar {
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
body > header img {
    position: relative;
    bottom: 2px;
    margin-right: 30px;
}
body > footer {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100%;
    line-height: 60px;
    text-align: center;
    color: rgb(102, 117, 127) !important;
}
.card-header {
    background: #E8F5FD;
    color: rgb(102, 117, 127) !important;
}
.jumbotron p.lead {
    color: rgb(102, 117, 127) !important;
}
.tweet {
    padding-left: 72px;
    padding-top: 7px;
}
.tweet:hover {
    background: #f5f8fa;
}
.tweet img.pp {
    border-radius: 50px;
    width: 48px;
    position: absolute;
    left: 12px;
    top: 12px;
}
.tweet .full-name, .tweet .username, .tweet .content {
    font-size: 14px;
}
.tweet .full-name {
    font-weight: 700;
}
.tweet .username {
    color: #657786;
}
.tweet .content {
    margin-bottom: 0px;
    margin-top: 3px;
}

button#open-heatmap {
    position: absolute;
    right: 10px;
    top: 74px;
}

/* .heatmap {
    width: 100%;
    min-height: 100vh;
    position: absolute !important;
    top: 0px;
    left: 0px;
    z-index: 10000;
} */
